<div id="folder-controls-popover" popover
     class="w-52 p-1.5 rounded-xl bg-gray-950 border border-neutral-700 shadow-[0_16px_40px_rgba(0,0,0,.6)]
            open:flex open:flex-col open:gap-1">
    <button data-open="folder-popup"
            data-url="{% url 'lists:folder_form' %}?folder_id={{ folder.id }}"
            class="flex items-center justify-between gap-3 h-9 px-3 shrink-0 rounded-lg cursor-pointer text-sm font-bold transition-colors !text-neutral-400 hover:bg-neutral-400/10 hover:!text-white">
        Изменить
    </button>
    <form action="{% url 'lists:toggle_hidden' folder.id %}" method="POST">
        {% csrf_token %}
        <button type="submit"
                class="w-full flex items-center justify-between gap-3 h-9 px-3 shrink-0 rounded-lg cursor-pointer text-sm font-bold transition-colors !text-neutral-400 hover:bg-neutral-400/10 hover:!text-white">
            {% if folder.is_hidden %}
                Показать
            {% else %}
                Скрыть
            {% endif %}
        </button>
    </form>
    <form action="{% url 'lists:toggle_pinned' folder.id %}" method="POST">
        {% csrf_token %}
        <button type="submit"
                class="w-full flex items-center justify-between gap-3 h-9 px-3 shrink-0 rounded-lg cursor-pointer text-sm font-bold transition-colors !text-neutral-400 hover:bg-neutral-400/10 hover:!text-white">
            {% if folder.is_pinned %}
                Открепить
            {% else %}
                Закрепить
            {% endif %}
        </button>
    </form>

    <button data-open="folder-alert-popup"
            class="flex items-center justify-between gap-3 h-9 px-3 shrink-0 rounded-lg cursor-pointer text-sm font-bold transition-colors !text-red-500 hover:bg-red-500/10">
        Удалить
    </button>
</div>