{% load i18n %}
<div id="folder-controls-popover" popover class="popover">
    <button data-open="folder-popup"
            data-url="{% url 'lists:folder_form' %}?folder_id={{ folder.id }}"
            title="{% translate 'Изменить папку' %}"
            class="popover-button">
        {% translate 'Изменить' %}
    </button>
    <form action="{% url 'lists:toggle_hidden' folder.id %}" method="POST" class="w-full">
        {% csrf_token %}
        <button type="submit"
                title="{% if folder.is_hidden %}{% translate 'Сделать папку видимой другим' %}{% else %}{% translate 'Скрыть папку от других' %}{% endif %}"
                class="popover-button">
            {% if folder.is_hidden %}
                {% translate 'Показать' %}
            {% else %}
                {% translate 'Скрыть' %}
            {% endif %}
        </button>
    </form>
    <form action="{% url 'lists:toggle_pinned' folder.id %}" method="POST" class="w-full">
        {% csrf_token %}
        <button type="submit"
                title="{% if folder.is_pinned %}{% translate 'Открепить папку' %}{% else %}{% translate 'Закрепить папку сверху' %}{% endif %}"
                class="popover-button">
            {% if folder.is_pinned %}
                {% translate 'Открепить' %}
            {% else %}
                {% translate 'Закрепить' %}
            {% endif %}
        </button>
    </form>

    <button data-open="folder-alert-popup"
            title="{% translate 'Удалить папку' %}"
            class="alert-button h-9 px-3">
        {% translate 'Удалить' %}
    </button>
</div>