{% extends 'accounts/modules/_base.html' %}
{% load static %}

{% block scripts %}
    <script src="{% static 'vendor/js/client/toggle_eye_password.js' %}" defer></script>
    <script type="module" src="{% static 'vendor/js/client/validator.js' %}" defer></script>
{% endblock %}

{% block content %}
    <h5 class="text-2xl font-bold my-4">Войти</h5>
    <form id="login-form" novalidate action="{% url 'accounts:login' %}" method="POST" class="gap-8 flex flex-col w-full z-10 mt-4">
        {% csrf_token %}
        <div class="flex flex-col gap-6">
            <div class="input-item px-16">
                <label for="{{ form.username.id_for_label }}" class="pl-4 !text-neutral-300">
                    Логин
                </label>
                {{ form.username }}
                {% if form.username.errors %}
                    <p data-error-field="{{ form.username.name }}" class="error-message !text-pink-600 pl-4 font-bold mb-2">
                        {{ form.username.errors.0 }}
                    </p>
                {% endif %}
            </div>

            <div class="input-item px-16">
                <label for="{{ form.password.id_for_label }}" class="pl-4 !text-neutral-300">
                    Пароль
                </label>
                <div class="relative">
                    {{ form.password }}

                    <button type="button" onclick="togglePasswordVisibility(this)" class="absolute right-3 top-1/2 -translate-y-1/2">
                        <svg class="stroke-text-gray eye-closed" width="1.5rem" height="1.5rem" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.99902 3L20.999 21M9.8433 9.91364C9.32066 10.4536 8.99902 11.1892 8.99902 12C8.99902 13.6569 10.3422 15 11.999 15C12.8215 15 13.5667 14.669 14.1086 14.133M6.49902 6.64715C4.59972 7.90034 3.15305 9.78394 2.45703 12C3.73128 16.0571 7.52159 19 11.9992 19C13.9881 19 15.8414 18.4194 17.3988 17.4184M10.999 5.04939C11.328 5.01673 11.6617 5 11.9992 5C16.4769 5 20.2672 7.94291 21.5414 12C21.2607 12.894 20.8577 13.7338 20.3522 14.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>

                        <svg class="stroke-text-gray hidden eye-open" width="1.5rem" height="1.5rem" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.0007 12C15.0007 13.6569 13.6576 15 12.0007 15C10.3439 15 9.00073 13.6569 9.00073 12C9.00073 10.3431 10.3439 9 12.0007 9C13.6576 9 15.0007 10.3431 15.0007 12Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M12.0012 5C7.52354 5 3.73326 7.94288 2.45898 12C3.73324 16.0571 7.52354 19 12.0012 19C16.4788 19 20.2691 16.0571 21.5434 12C20.2691 7.94291 16.4788 5 12.0012 5Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </button>
                </div>
                {% if form.password.errors %}
                    <p data-error-field="{{ form.password.name }}" class="error-message !text-pink-600 pl-4 font-bold mb-2">
                        {{ form.password.errors.0 }}
                    </p>
                {% endif %}
                <a href="{% url 'accounts:recovery' %}" class="!text-primary p-4">Забыли пароль?</a>
            </div>
        </div>
    
        {% if form.errors %}
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    {% if error != 'Обязательное поле.' %}
                    <div class="px-16">
                        <div class="error-banner text-pink-300 border border-pink-600 bg-pink-900 p-4 rounded-2xl space-y-2">
                            <p class="text-sm">{{ error }}</p>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div class="flex flex-col flex-center gap-4">
            <button type="submit" class="standard-button h-12 !text-black w-96 bg-button hover:!bg-[#a9d8d9]">Войти</button>
           
            <p>Нет аккаунта?</p>
        
            <a href="{% url 'accounts:register' %}" class="standard-button flex-center w-96 hover:bg-[#20201d] h-12 border-[0.1rem] border-[#2b2c2d]">Зарегистрироваться</a>  
        </div>
    </form>
{% endblock %}