{% extends 'accounts/components/base.html' %}
{% load i18n %}
{% load static %}

{% block scripts %}
    <script type="module" src="{% static 'vendor/js/client/validator.js' %}" defer></script>
    <script src="{% static 'vendor/js/client/toggle_eye_password.js' %}" defer></script>
{% endblock %}

{% block content %}
    <div class="w-full px-16 flex items-center flex-col">
        <h1 class="text-3xl font-bold leading-tight mt-2">{% translate 'Новый пароль' %}</h1>
        <p class="!text-neutral-400 leading-[1.65] mt-3">
            {% translate 'Введите новый пароль и подтвердите его, чтобы завершить сброс.' %}
        </p>
    </div>

    <form id="password-reset-form" novalidate method="POST" class="flex flex-col gap-6 w-full z-10 mt-8 px-16">
        {% csrf_token %}

        {% if form.non_field_errors %}
            <div class="error-banner" role="alert">{{ form.non_field_errors.0 }}</div>
        {% endif %}

        <div class="input-item flex flex-col">
            <label for="{{ form.new_password1.id_for_label }}" class="label">{% translate 'НОВЫЙ ПАРОЛЬ' %}</label>
            <div class="relative mt-2">
                {{ form.new_password1 }}
                {% include 'components/password_visibility.html' %}
            </div>
            <p id="{{ form.new_password1.id_for_label }}_error" role="alert" data-error-field="new_password1"
               class="error-message"
               {% if not form.new_password1.errors %}hidden{% endif %}>{{ form.new_password1.errors.0 }}</p>
            <p class="mt-2 label">
                {% translate 'Не менее 8 символов, включая буквы разного регистра, цифры и специальные символы.' %}
            </p>
        </div>

        <div class="input-item flex flex-col">
            <label for="{{ form.new_password2.id_for_label }}"
                   class="label">{% translate 'ПОДТВЕРДИТЕ ПАРОЛЬ' %}</label>
            <div class="relative mt-2">
                {{ form.new_password2 }}
            </div>
            <p id="{{ form.new_password2.id_for_label }}_error" role="alert" data-error-field="new_password2"
               class="error-message"
               {% if not form.new_password2.errors %}hidden{% endif %}>{{ form.new_password2.errors.0 }}</p>
        </div>

        <button type="submit" title="{% translate 'Сохранить новый пароль' %}"
                class="main-button h-12 w-full mt-2">{% translate 'Сохранить пароль' %}</button>
    </form>
{% endblock %}