{% extends 'accounts/components/base.html' %}
{% load i18n %}
{% load static %}

{% block scripts %}
    <script type="module" src="{% static 'vendor/js/client/validator.js' %}" defer></script>
    <script src="{% static 'vendor/js/client/toggle_eye_password.js' %}" defer></script>
{% endblock %}

{% block content %}
    <div class="px-16">
        <h1 class="text-3xl font-bold leading-tight mt-2">{% translate 'Создать аккаунт' %}</h1>
    </div>

    <form id="register-form" novalidate method="POST" action="{% url 'accounts:register' %}"
          class="flex flex-col gap-6 w-full z-10 mt-8 px-16">
        {% csrf_token %}

        {% if form.non_field_errors %}
            <div class="error-banner" role="alert">{{ form.non_field_errors.0 }}</div>
        {% endif %}

        <div class="input-item flex flex-col">
            <label for="{{ form.username.id_for_label }}" class="label">{% translate 'ИМЯ ПОЛЬЗОВАТЕЛЯ' %}</label>
            <div class="mt-2">{{ form.username }}</div>
            <p id="{{ form.username.id_for_label }}_error" role="alert" data-error-field="username"
               class="error-message"
               {% if not form.username.errors %}hidden{% endif %}>{{ form.username.errors.0 }}</p>
        </div>

        <div class="input-item flex flex-col">
            <label for="{{ form.email.id_for_label }}"
                   class="label">{% translate 'ЭЛЕКТРОННАЯ ПОЧТА' %}</label>
            <div class="mt-2">{{ form.email }}</div>
            <p id="{{ form.email.id_for_label }}_error" role="alert" data-error-field="email"
               class="error-message mt-2"
               {% if not form.email.errors %}hidden{% endif %}>{{ form.email.errors.0 }}</p>
        </div>

        <div class="input-item flex flex-col">
            <label for="{{ form.password1.id_for_label }}"
                   class="label">{% translate 'ПАРОЛЬ' %}</label>
            <div class="relative mt-2">
                {{ form.password1 }}
                {% include 'components/password_visibility.html' %}
            </div>
            <p id="{{ form.password1.id_for_label }}_error" role="alert" data-error-field="password1"
               class="error-message"
               {% if not form.password1.errors %}hidden{% endif %}>{{ form.password1.errors.0 }}</p>
            <p class="mt-2 label">
                {% translate 'Не менее 8 символов, включая буквы разного регистра, цифры и специальные символы.' %}
            </p>
        </div>

        <div class="input-item flex flex-col">
            <label for="{{ form.password2.id_for_label }}"
                   class="label">{% translate 'ПОДТВЕРДИТЕ ПАРОЛЬ' %}</label>
            <div class="relative mt-2">
                {{ form.password2 }}
                {% include 'components/password_visibility.html' %}
            </div>
            <p id="{{ form.password2.id_for_label }}_error" role="alert" data-error-field="password2"
               class="error-message"
               {% if not form.password2.errors %}hidden{% endif %}>{{ form.password2.errors.0 }}</p>
        </div>

        <button type="submit" title="{% translate 'Создать новый аккаунт' %}"
                class="main-button h-12 w-full mt-2">{% translate 'Зарегистрироваться' %}</button>

        <div class="flex items-center gap-4">
            <div class="h-px flex-1 bg-neutral-800"></div>
            <span class="font-mono text-xs !text-neutral-500">{% translate 'УЖЕ ЕСТЬ АККАУНТ?' %}</span>
            <div class="h-px flex-1 bg-neutral-800"></div>
        </div>

        <a href="{% url 'accounts:login' %}"
           title="{% translate 'Перейти на страницу входа' %}"
           class="flex-center h-12 w-full rounded-full font-bold border-2 border-neutral-700 !text-neutral-400
                  hover:border-neutral-500 hover:!text-white transition-colors">
            {% translate 'Войти' %}
        </a>
    </form>
{% endblock %}