<div id="chart-bar" class="z-10 bg-[#2E2A30] w-96 h-fit rounded-2xl px-4 py-2 hidden absolute">
        <h4 class="font-bold mb-2">
            Популярность озвучек:
        </h4>
        <ul class="flex flex-col gap-0.5">
            <li class="w-full h-7 relative">
                <div class="flex justify-between items-center text-size-sm bg-[#585357] w-full h-full px-2 font-bold rounded-[5px] overflow-hidden">
                    <span class="z-10">Двухголосый закадровый</span><span class="z-10">26%</span>
                </div>
                <div class="absolute bg-[#1A141B] h-full top-0 left-0 rounded-l-[5px]" style="width: 26%;"></div>
            </li>
            <li class="w-full h-7 relative">
                <div class="flex justify-between items-center text-size-sm bg-[#585357] w-full h-full px-2 font-bold rounded-[5px] overflow-hidden">
                    <span class="z-10">Двухголосый закадровый</span><span class="z-10">26%</span>
                </div>
                <div class="absolute bg-[#1A141B] h-full top-0 left-0 rounded-l-[5px]" style="width: 26%;"></div>
            </li>
            <li class="w-full h-7 relative">
                <div class="flex justify-between items-center text-size-sm bg-[#585357] w-full h-full px-2 font-bold rounded-[5px] overflow-hidden">
                    <span class="z-10">Двухголосый закадровый</span><span class="z-10">26%</span>
                </div>
                <div class="absolute bg-[#1A141B] h-full top-0 left-0 rounded-l-[5px]" style="width: 26%;"></div>
            </li>
            <li class="w-full h-7 relative">
                <div class="flex justify-between items-center text-size-sm bg-[#585357] w-full h-full px-2 font-bold rounded-[5px] overflow-hidden">
                    <span class="z-10">Двухголосый закадровый</span><span class="z-10">26%</span>
                </div>
                <div class="absolute bg-[#1A141B] h-full top-0 left-0 rounded-l-[5px]" style="width: 26%;"></div>
            </li>
        </ul>
    </div>