<button type="button" popovertarget="library-popover" data-title-id="{{ title.id }}"
        data-url="{% url 'lists:get_folders' title.id %}" title='Добавить "{{ title.name }}" в коллекцию'
        class="add flex-center">
    {% if title.id in user_library %}
        <svg width="25px" height="25px" viewBox="0 0 24 24" id="_24x24_On_Light_Checkmark"
             data-name="24x24/On Light/Checkmark" xmlns="http://www.w3.org/2000/svg">
            <rect id="view-box" width="24" height="24" fill="#141124" opacity="0"></rect>
            <path id="Shape"
                  d="M5.341,12.247a1,1,0,0,0,1.317,1.505l4-3.5a1,1,0,0,0,.028-1.48l-9-8.5A1,1,0,0,0,.313,1.727l8.2,7.745Z"
                  transform="translate(19 6.5) rotate(90)"
                  fill="white"></path>
        </svg>
    {% else %}
        <svg xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" viewBox="0 0 24 24" fill="none"
             stroke="currentColor" stroke-width="2" stroke-linecap="round"
             stroke-linejoin="round">
            <path d="M12 5l0 14"></path>
            <path d="M5 12l14 0"></path>
        </svg>
    {% endif %}
</button>