{% load static %}


<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'vendor/img/favicon/favicon.ico' %}"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
    <link href="{% static 'vendor/css/output.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/css/utils.css' %}" rel="stylesheet">

    <title>{{ page_title }}</title>

    {% block scripts %}
    {% endblock %}
    {% include 'titles/modules/_common_scripts.html' %}

<body>
{% include 'titles/modules/_modals.html' %}

{% include 'titles/modules/_navbar.html' with alt=True %}

{% block content %}
{% endblock %}

<footer class="flex flex-center h-36 bg-black mx-26">
    <p class="!text-text-gray">&copy; 2025 MYANIMESITE</p>
</footer>
</body>
</html>