{% load static %}
{% load utils %}

<script type="module" src="{% static 'vendor/js/client/popups.js' %}" defer></script>
<script src="{% static 'vendor/js/client/popovers.js' %}" defer></script>

<script src="{% static 'vendor/js/client/navbar.js' %}"></script>
<script type="module" src="{% static 'vendor/js/client/validator.js' %}" defer></script>

<script type="module" src="{% static 'vendor/js/server/search_title.js' %}"></script>
<script type="module" src="{% static 'vendor/js/server/collections.js' %}"></script>
<script src="{% static 'vendor/js/client/folder_preview.js' %}" defer></script>
<script type="module" src="{% static 'vendor/js/server/folders.js' %}" defer></script>
<script type="module" src="{% static 'vendor/js/client/folder_preview.js' %}" defer></script>
<script type="module" src="{% static 'vendor/js/server/library.js' %}" defer></script>
<script type="module" src="{% static 'vendor/js/server/subscriptions.js' %}" defer></script>
<script type="module" defer>
    if (!('anchorName' in document.documentElement.style)) {
        import('https://unpkg.com/@oddbird/css-anchor-positioning');
    }
</script>