{% include 'titles/modal_windows/_search_popup.html' %}
{% include 'titles/modal_windows/_controls_popover.html' %}

{% if request.user.is_authenticated %}
    <div id="library-popover" popover
         class="w-64 p-1.5 rounded-xl bg-gray-950 border border-neutral-700 shadow-[0_16px_40px_rgba(0,0,0,.6)] z-100">
    </div>
    <dialog id="folder-popup"
            class="m-auto p-0 w-[700px] max-h-[85vh] rounded-3xl
               bg-gray-950 border border-neutral-700 shadow-[0_32px_80px_rgba(0,0,0,.7)]
               backdrop:bg-black/40 backdrop:backdrop-blur-md
               open:flex open:flex-col">
    </dialog>
{% endif %}

<dialog id="collection-popup"
        class="m-auto p-0 w-[750px] max-h-[85vh] rounded-3xl
               bg-gray-950 border border-neutral-700 shadow-[0_32px_80px_rgba(0,0,0,.7)]
               backdrop:bg-black/40 backdrop:backdrop-blur-md
               open:flex open:flex-col">
</dialog>

{% include 'titles/modal_windows/_search_popup.html' %}

{% if request.user.is_premium %}
    <dialog id="activated-premium-popup"
            class="m-auto p-8 w-[700px] bg-secondary rounded-4xl border border-[#2b2c2d]">
    </dialog>
{% else %}
    <dialog id="premium-popup"
            class="m-auto p-8 w-[700px] bg-secondary rounded-4xl border border-[#2b2c2d]">
    </dialog>
{% endif %}

<dialog id="lightbox" class="backdrop:bg-black/40 backdrop:backdrop-blur-md bg-transparent p-0 m-auto
                              max-w-none max-h-none w-full h-full
                              open:flex items-center justify-center">
    <button type="button" class="close-modal absolute top-4 right-4 sm:top-6 sm:right-6 z-10
                                  w-10 h-10 rounded-full bg-black/50 hover:bg-black/70 transition
                                  flex items-center justify-center text-white text-2xl leading-none cursor-pointer">
        &times;
    </button>
    <img id="lightbox-img" class="max-w-[90vw] max-h-[85vh] object-contain rounded-lg" draggable="false">
</dialog>