{% load static %}

{% url 'index' as homepage %}
{% url 'lists:get_collections' 'GEN' as catalog %}
{% url 'users:community' as community %}

<nav class="navbar flex fixed w-full h-25 items-center justify-between py-0! px-26"
     xmlns="http://www.w3.org/1999/html">
    <div class="flex items-center gap-10 h-full">
        <a href="{% url 'index' %}" class="shrink-0">
            <img class="w-75 h-auto" src="{% static 'vendor/img/utility/desktop-logo.webp' %}" alt="site-logo">
        </a>
    </div>

    <div class="flex items-center gap-4">
        <ul class="flex items-center h-full">
            <li class="h-full">
                <a href="{{ homepage }}" title="Перейти на главную страницу"
                   class="flex items-center h-full px-4 {% if request.path_info == homepage %}!text-neutral-400 hover:!text-white{% else %} hover:!text-neutral-400{% endif %} transition-colors">
                    Главная
                </a>
            </li>
            <li class="h-full">
                <button data-open="collection-popup" data-url="{{ catalog }}" title="Каталог аниме по жанрам и категориям"
                   class="flex items-center h-full px-4 {% if request.path_info == catalog %}!text-neutral-400 hover:!text-white{% else %} hover:!text-neutral-400{% endif %} transition-colors">
                    Каталог
                </button>
            </li>
            <li class="h-full">
                <a href="{{ community }}" title="Найти пользователей сайта"
                   class="flex items-center h-full px-4 {% if request.path_info == community %}!text-neutral-400 hover:!text-white{% else %} hover:!text-neutral-400{% endif %} transition-colors">
                    Сообщество
                </a>
            </li>
        </ul>
        {% if request.user.avatar %}
            <button id="controls-button" data-target="controls-popover" title="Открыть настройки учётной записи"
                    class="bg-linear-to-b to-pink-950 from-pink-500 flex-center rounded-full h-13 w-13 overflow-hidden shrink-0"
                    popovertarget="controls-popover">
                <img class="h-11 w-11 rounded-full object-cover object-center" src="{{ request.user.avatar.url }}"
                     alt="profile-image">
            </button>
        {% else %}
            <button id="controls-button" data-target="controls-popover" title="Открыть настройки учётной записи"
                    class="bg-linear-to-b to-pink-950 from-pink-500 flex-center rounded-full h-13 w-13 overflow-hidden shrink-0"
                    popovertarget="controls-popover">
                <img class="w-11 h-11 rounded-full object-cover object-center"
                     src="{% static 'vendor/img/utility/miku.svg' %}" alt="profile-image">
            </button>
        {% endif %}

        <button title="Создать список аниме" data-open="search-popup" class="gap-2 ml-4 main-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" viewBox="0 0 24 24" fill="none"
                 stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path>
                <path d="M21 21l-6 -6"></path>
            </svg>
            Аниме
        </button>

    </div>
</nav>
