{% extends 'base.html' %}
{% load static %}

{% block scripts %}
    <script type="module" src="{% static 'vendor/js/client/validator.js' %}" defer></script>
    <script src="{% static 'vendor/js/client/toggle_eye_password.js' %}" defer></script>
    <script type="module" src="{% static 'vendor/js/server/settings.js' %}" defer></script>
{% endblock %}

{% block modals %}
    {% url 'users:delete_account' as delete_account %}
    {% url 'subscriptions:cancel' as cancel_subscription %}
    {% include 'modals/alert.html' with id='account' url=delete_account text='Это действие нельзя будет отменить. Это навсегда удалит ваш аккаунт и все ваши данные.' %}
    {% include 'modals/alert.html' with id='subscription' url=cancel_subscription text='Это действие нельзя будет отменить. Это отменит вашу текущую подписку.' %}
{% endblock %}

{% block content %}
    <main class="relative z-10 w-full mx-auto">
        <ul role="tablist" aria-label="Разделы настроек" class="flex mb-8 border-b border-neutral-800 w-fit">
            {% url 'users:profile_settings' as profile %}
            {% url 'users:account_settings' as account %}
            {% include 'users/components/panel_button.html' with panel='profile' icon='profile' url=profile title='Профиль' %}
            {% include 'users/components/panel_button.html' with panel='account' icon='gear' url=account title='Аккаунт' %}
        </ul>
        <div id="panelContainer" role="tabpanel" tabindex="0"
             aria-labelledby="tab-profile" aria-live="polite" aria-busy="true"
             class="w-full">
        </div>
    </main>
{% endblock %}