{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load utils %}

{% block scripts %}
    <script src="{% static 'vendor/js/client/parallax_effect.js' %}" defer></script>
    <script type="module" src="{% static 'vendor/js/server/charts.js' %}" defer></script>
    <script src="{% static 'vendor/js/client/slider.js' %}" defer></script>

    <script>
        window.INDEX = {
            popularChartUrl: '{% url 'titles:chart' 'popular' %}',
        };
    </script>
    <style>
        .parallax {
            position: absolute;
            width: 112%;
            height: 135%;
            left: 50%;
            top: 50%;
            translate: -50% -50%;
            object-fit: cover;
            object-position: center;
            transition: transform .2s ease-out;
        }
    </style>
{% endblock %}

{% block content %}
    <section class="w-full">
        <div id="main-banner" class="relative w-screen ml-[calc(50%-50vw)] -mt-[130px] h-[100dvh] overflow-hidden">
            <div class="absolute w-full h-full before:bg-gradient-to-r before:from-slate-950 before:via-[#0f0e0d]/75 before:to-transparent before:z-1 before:absolute before:inset-0 after:from-slate-950 after:to-transparent after:z-3 after:w-full after:absolute after:bottom-0 after:left-0 after:h-1/3 after:bg-gradient-to-t">
                <img id="back"
                     class="parallax"
                     src="{% static 'vendor/img/paralax/back.jpg' %}"
                     alt="Back" draggable="false">
                <img id="middle"
                     class="parallax"
                     src="{% static 'vendor/img/paralax/middle.png' %}"
                     alt="Middle" draggable="false">
                <img id="inner-front"
                     class="parallax"
                     src="{% static 'vendor/img/paralax/part-of-front.png' %}"
                     alt="Front Part" draggable="false">
                <img id="girl"
                     class="parallax"
                     src="{% static 'vendor/img/paralax/girl.png' %}"
                     alt="Girl" draggable="false">
                <img id="front"
                     class="parallax"
                     src="{% static 'vendor/img/paralax/front.png' %}"
                     alt="Front" draggable="false">
            </div>
            <div class="absolute inset-0 z-5 flex flex-col justify-center px-34">
                <div class="max-w-[660px]">
                    <h1 class="text-6xl font-bold leading-tight">
                        Добро пожаловать на
                    </h1>
                    <h1 class="text-8xl font-bold leading-tight">MYANIMESITE</h1>
                    <p class="!text-neutral-400 text-lg mt-3 max-w-[800px]">
                        Смотрите, ставьте оценки и открывайте новое аниме. Чарты обновляются в реальном времени.
                    </p>
                    <button title="Поиск аниме по названию"
                            class="w-full gap-2 main-button mt-6"
                            data-open="search-popup">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" viewBox="0 0 24 24"
                             fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path>
                            <path d="M21 21l-6 -6"></path>
                        </svg>
                        Найти аниме
                    </button>
                </div>
            </div>
        </div>

        <div class="mb-11 mt-20">
            <div class="flex items-baseline justify-between mb-4">
                <h2 class="text-2xl font-bold">MAS Чарты 🎬</h2>

                <ul class="flex gap-1.5" id="charts">
                    {% include 'components/pill_buttons.html' with label='chart' name='charts' buttons=charts selected=cur_chart %}
                </ul>
            </div>

            <ul id="chart" class="grid grid-cols-1 gap-2
                      sm:grid-flow-col sm:grid-rows-5 sm:auto-cols-fr">
            </ul>
        </div>

        {% include 'titles/components/slider.html' with title='Новые релизы 🍿' object_list=releases %}
        {% include 'titles/components/slider.html' with title='Скоро выйдут 🧨' object_list=upcoming_titles %}
    </section>
{% endblock %}
