{% extends 'lists/modules/_base.html' %}


{% block header %}
    <div class="flex justify-between relative w-full">
        <div class="w-full">
            <h2 class="text-5xl mb-4 font-bold">
                {{ header }}
            </h2>
            {% if collection.description %}
                <p>{{ collection.description}}</p>
            {% endif %}
        </div>
        {% if collection.image %}
            <img class="w-56 h-56 rounded-2xl" src="{{ collection.image.url }}" alt="fantasy">
        {% endif %}
    </div>
{% endblock %}
     
