{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'vendor/img/favicon/favicon.ico' %}"/>
    <title>{{ page_title }}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
    <link href="{% static 'vendor/css/output.css' %}" rel="stylesheet">

    {% block scripts %}
    {% endblock %}
</head>
<body class="overflow-x-hidden">

<nav class="navbar !bg-none">
    <a href="{% url 'index' %}" title="{% translate 'На главную' %}">
        <img class="w-75 shrink-0" src="{% static 'vendor/img/utility/desktop-logo.webp' %}" alt="MYANIMESITE">
    </a>
</nav>

<main class="flex-center">
    <div class="absolute w-5xl h-200 z-1 pointer-events-none -top-80 -left-28
                bg-[radial-gradient(rgba(234,58,217,0.3),transparent_70%)]" aria-hidden="true"></div>

    <div class="relative z-10 flex flex-col items-center py-10 w-162.5 h-fit mb-8 rounded-3xl
                bg-transparent border border-neutral-700">
        <div class="w-52 h-36 rounded-lg border-b-2 border-neutral-700 overflow-hidden">
            <img class="w-full h-full px-4" src="{% static 'vendor/img/gifs/auth.gif' %}"
                 alt="" aria-hidden="true">
        </div>

        {% block content %}
        {% endblock %}
    </div>
</main>

</body>
</html>